.note{
  background-color: rgb(240,231,48);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 200px);
}

.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.note-new{
  background-color: aquamarine;
}

textarea:focus {
  outline: none;
}

textarea{
  border: none;
  resize: none;
  background-color: azure;
}

.save{
  background-color: blueviolet;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  
}

.save:hover{
  background-color: beige;
  cursor: pointer;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}